/* Homepage
----------------------------------------------------------------------------------------------------*/
.post.grid_4, .post.grid_8 { 
    height: 350px; 
    margin-bottom: 20px; 
}
.post .thumbnail img { position: relative; }
.post.grid_4 .thumbnail img { width: 100%; }
.post.grid_8 .thumbnail img { max-width: 550px; }
.post .thumbnail { overflow: hidden; height: 180px; margin: 3px 3px 0; text-align: center; }
.post .thumbnail .tags { position: absolute; top: 10px; right: 3px; text-align: right; z-index: 100;}
.tags .tag { 
    padding: 3px 5px;
    font-size: 21px;
    color: #fff; 
    background-color: #f60304;
    background-color: #3B4990;
}
.post .inner { margin: 10px 10px 20px; height: 145px; overflow-y: hidden; }
.post .inner h3 { margin-bottom: 6px; margin-top: 10px;}
.post .inner h5 { margin: 0 0 10px; padding-bottom: 10px; border-bottom: 1px solid #ddd; }
.post .inner p { 
    font-size: 12px; 
    opacity: 0.6; 
    filter:alpha(opacity=50);
    overflow: hidden;
}

.bigdate {
    position: absolute;
    right: 9px;
    top: 40px;
    text-align: right;
    z-index: 100;
}
.bigdate h3 { color: #fff; font-size: 48px; }

.gonext {
    color: #F60304;
    color: #3B4990;
    font-size: 48px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    opacity: 0;
    filter:alpha(opacity=0);
    
}
.hover .gonext, .post.hover .inner p { 
    opacity: 1; 
    filter:alpha(opacity=100);
}

/* `Post
----------------------------------------------------------------------------------------------------*/
.post-wrapper header, .about-wrapper header { border-bottom: 5px solid #000; margin-bottom: 14px;}
.post-wrapper .post, .about-wrapper .post { 
    padding-top: 20px;
    margin-bottom: 20px; 
    background: url('images/diagonal-lines-bg.png') repeat-x bottom left, url('images/diagonal-lines-bg.png') repeat-x top left;
    background-color: #fff;
}
.post-wrapper .post_header { margin-top: 10px; }
.post-wrapper h2 { display: inline; margin-top: 15px; }
.post-wrapper .tags { position: relative; top: -4px; }
.post-wrapper .tags .tag { margin: 0 2px; }
.post-wrapper #main p, .post-wrapper #main .main ol, .post-wrapper #main .main ul, .post-wrapper #main h3, .post-wrapper #main h4 { padding-left: 140px; width: 550px; }    /* equiv to .grid_8 .pre_2 */
.post-wrapper #main blockquote p { 
    margin-left: 140px; 
    padding-left: 10px;
    border-left: 5px solid #FDD91C;
    width: 535px; 
}

.post-wrapper #main h5 { 
	border-bottom: 1px solid #DDDDDD;
	margin: 5px 0 10px;
	padding-bottom: 10px; 
}

.post p img {
    max-width: 100%;
}


/* Upcoming 
----------------------------------------------------------------------------------------------------*/
.upcoming-block .stripes { 
/*    position: relative;*/
/*    top: -5px;*/
    height: 25px; 
    background: url('images/diagonal-lines-bg.png') repeat top left; 
}
.upcoming-block h4.datetime { margin-bottom: 6px; }
.upcoming-block .upcoming-info h3, .upcoming-block .upcoming-info h4 { display: inline; }
.post-wrapper #main .upcoming-block .upcoming-info h3, .post-wrapper #main .upcoming-block .upcoming-info h4, .post-wrapper #main #disqus_thread h3 { padding-left: 0; width: auto; }
.upcoming-block .upcoming-info h3 { margin-right: 5px; }
.upcoming-block .upcoming-info h4 { color: #aaa; }
.upcoming-block .upcoming-info h4 .location { margin-right: 5px; }

/* Photos */

figure.photo { padding: 0 10px; margin: 0 0 20px; }
figure.photo figcaption {
    color: #999;
    line-height: 14px;
    font-style: italic;
    background: url('images/icon-caption.png') no-repeat top left; 
	padding: 0 20px 5px;
}
figure.photo img {
    max-width: 550px;
}
figure.photo.big img {
    max-width: 810px;
}



/* `Sidebar
----------------------------------------------------------------------------------------------------*/
#sidebar .widget { margin-bottom: 10px; }
#sidebar h3 { color: #fff; margin: 15px 10px 10px; font-size: 24px; }
#sidebar h3.comments { margin: 15px 0px 10px 10px; max-width: 200px; }
#sidebar a { color: #fff; text-decoration: none; }

/* Facebook, Featured & Comments */
#sidebar #facebook a, #sidebar #recentfeatured h3, #sidebar #recentcomments h3, #sidebar #recentcomments a, #sidebar #recentfeatured a.thumb {
    opacity: 0.7;
	filter:alpha(opacity=70);
}
#sidebar #facebook a:hover, #sidebar #recentcomments a:hover, #sidebar #recentfeatured a.thumb:hover {
    opacity: 1;
	filter:alpha(opacity=100);	
}

#sidebar #facebook { margin-top: 10px; }

#sidebar #recentcomments {
	text-shadow: 0 1px 3px #000;
}

#sidebar #recentcomments img {
    -webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
       -moz-border-radius: 5px; /* FF1-3.6 */
            border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

#sidebar #recentcomments a, #sidebar #recentcomments .info, #sidebar #recentcomments .comment { display: block; }
#sidebar #recentcomments a { 
	line-height: 15px;
	padding-left: 10px; 
	margin-bottom: 10px; 
	height: 48px; 
	overflow: hidden; 
}
#sidebar #recentcomments .info {
    margin-left: 5px;
    float: left;
}
#sidebar #recentcomments .comment { width: 190px; }
#sidebar #recentcomments img { float: left; }

#sidebar #recentfeatured a.thumb { display: block; margin: 10px; overflow: hidden; width: 250px; }
#sidebar #recentfeatured img { max-width: 250px; /*max-height: 165px;*/ }
#sidebar #recentfeatured h5 { position: absolute; left: 15px; padding-top: 5px; color: #fff; width: 245px; }

/* `Post Header
----------------------------------------------------------------------------------------------------*/
#post_header { font-size: 20px; }

/* `Magazine gcal widget
----------------------------------------------------------------------------------------------------*/

.gw-post {
	font: 14px/20px "Helvetica Neue", Helvetica, Arial;
/*  width: 270px;*/
	color: #fff;
}

.gw-post a { color: #fff; }
.gw-post a .gw-title { text-decoration: underline; }


.gw-date-wrap { border-top: 1px solid #111;}

.gw-date {
    padding: 10px 10px 5px;
    border-top: 1px solid #2d2d2d;
    color: #999;
    text-transform: uppercase;
    font-size: 105%;
}

.gw-event {
    padding: 0 10px 10px;
}

.gw-bullet {
    float: left;
    margin-top: 4px;
    height: 10px;
    width: 10px;
       -moz-border-radius: 7px; /* FF1-3.6 */
    -webkit-border-radius: 7px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
            border-radius: 7px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
            border: 1px solid #000;
    /* green */
    background-color: #26BA1E;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#26BA1E), to(#075207)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #26BA1E, #075207); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #26BA1E, #075207); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #26BA1E, #075207); /* IE10 */
    background-image:      -o-linear-gradient(top, #26BA1E, #075207); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #26BA1E, #075207);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#26BA1E', EndColorStr='#075207'); /* IE6–IE9 */
}

.dt-bros .gw-bullet {
    /* blue */
    background-color: #2BBBFC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2BBBFC), to(#1E55E4)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #2BBBFC, #1E55E4); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #2BBBFC, #1E55E4); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #2BBBFC, #1E55E4); /* IE10 */
    background-image:      -o-linear-gradient(top, #2BBBFC, #1E55E4); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #2BBBFC, #1E55E4);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2BBBFC', EndColorStr='#1E55E4'); /* IE6–IE9 */
}

.dt-sis .gw-bullet {
    /* pink */
    background-color: #FC0F9C;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FC0F9C), to(#E30334)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #FC0F9C, #E30334); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #FC0F9C, #E30334); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #FC0F9C, #E30334); /* IE10 */
    background-image:      -o-linear-gradient(top, #FC0F9C, #E30334); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #FC0F9C, #E30334);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FC0F9C', EndColorStr='#E30334'); /* IE6–IE9 */
}

.lg .gw-bullet {
    /* orange */
    background-color: #FCAC27;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FCAC27), to(#E45F1A)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #FCAC27, #E45F1A); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #FCAC27, #E45F1A); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #FCAC27, #E45F1A); /* IE10 */
    background-image:      -o-linear-gradient(top, #FCAC27, #E45F1A); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #FCAC27, #E45F1A);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FCAC27', EndColorStr='#E45F1A'); /* IE6–IE9 */
}

.gw-title {
    margin: 0 60px 0 20px;
}

.gw-title .gw-location {
    font-size: 85%;
    color: #999;
}

.gw-time {
    float: right;
    color: #999;
    font-variant: small-caps;
}

/* Featured */
.gw-featured {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.gw-featured .gw-event {
    padding-top: 5px;
    border-top: 1px solid #0055cc;
    background-color: #0074CC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0088cc), to(#0055cc)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #0088cc, #0055cc); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #0088cc, #0055cc); /* IE10 */
    background-image:      -o-linear-gradient(top, #0088cc, #0055cc); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #0088cc, #0055cc);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0088cc', EndColorStr='#0055cc'); /* IE6–IE9 */
}

.gw-featured .gw-bullet, .gw-featured .weekly .gw-bullet { margin-top: 5px; background-color: #fff; background-image: none; border: none; }

.gw-featured .gw-time { color: #fff; }

.gw-featured .gw-location {
    color: #ccc;
}

/* `General
----------------------------------------------------------------------------------------------------*/
.showgrid { background: url('images/grid.jpg') repeat-y center top}

.yellow { color: #fdd91c; }
a, .red, .error { color: #f60304; color: #2C5197; }
.boxshadow {
       -moz-box-shadow: 0px 2px 5px #000;
    -webkit-box-shadow: 0px 2px 5px #000;
            box-shadow: 0px 2px 5px #000;
}
.textshadow {
    xxtext-shadow: 0px 1px 3px #000; /* FF3.5 - 3.6 */
}

.hover { cursor: pointer; }
.padding { padding: 0 10px; }
.slickpanel input[type=text], .slickpanel textarea { width: 240px; }
input.button {
       -moz-box-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.post { 
    background: #fff url('images/diagonal-lines-bg.png') repeat-x bottom left;
}
